.team-member{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 3px;
    margin: 40px 20px 30px 0px;
    border: 5px solid #1f0404;
    shape-outside: circle() ;
}

h3{
    color: #1f0404;
}