h4 {
  color: #1f0404;
}

.members-div {
  height: 440px;
  width: 300px;
  border: 1px solid #33333367;
  box-shadow: 2px 3px 5px #000000;
  margin: 4px auto;
  padding: 5px;
  text-align: center;
  transition: border 1.5s ease-in;
}

.members-div:hover {
  transform: scale(1.01);
}

.members-div img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #1f0404;
}

.members-div h6 {
  text-align: center;
  font-weight: 200px;
  font-size: 1.2rem;
  text-transform: capitalize;
}

@media (min-width: 740px) {
  .attorneys-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
