.nav-link {
  text-decoration: none;
  transition: margin 2s ease-in;
}

.nav-link:hover {
  text-decoration: none !important;
  margin-left: 1em;
}

.jumbotron {
  height: 70vh !important;
  background: url(../images/bgimage.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 0px !important;
}

#jumbotron-text {
  width: 50vw;
  height: auto;
  color: #ffffff;
}

.btn {
  background: rgb(180, 7, 11);
  background: #f38406 !important;
  color: #ffffff !important;
  transition: background 1s ease-in;
}

.btn:hover {
  color: #f38406 !important;
  background: #351513 !important;
}

h3,
h4 {
  color: #1f0404;
}
.welcome-div > img {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 3px;
  margin: 40px 20px 30px 0px;
  border: 5px solid #1f0404;
  shape-outside: circle();
}

.welcome-div > p {
  text-align: justify;
}

.section-header,
.practise-area-header {
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 5px;
}
.section-header::after,
.practise-area-header::after {
  content: " ";
  width: 100px;
  height: 4px;
  margin-top: 35px;
  margin-bottom: 10px;
  background: #a34201;
  position: absolute;
  left: calc(50% - 50px);
}

h6 {
  text-align: left;
  color: #f38406;
  padding-top: 5px;
  margin-top: 2px;
  margin-right: 2px;
}

@media (max-width: 480px) {
  .jumbotron {
    height: 70vh !important;
    background: url(../images/bgimage-small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 0px !important;
  }
}
